/* .maindiv{
    max-width: 1200px;
    display: flex;
    border: 3px solid red;

} */

/* .maindiv{
    border: 1px solid black;
    flex-grow: 1;
    flex-basis: 100px;

} */


/* .maindiv div:nth-child(1){
    flex-shrink: 10;
    flex-grow: 3;


} */

 /* .maindiv{
    border: 5px solid blue ;
    display: flex;
     border:2px solid purple; 
}


.maindiv div{
    border: 5px solid blue ;
    flex-grow: 1;

}  */



/* css unit */

/* .head{
    font: size 1in; ;
} */
/* 
:root{
    font-size: 50px;
}

.rem{
    font-size: 20px;
}

.p1{
    font-size: 2em;
}

.p3{
    font-size: 1rem;
}

.p2{
    font-size: 32px;
} */