/* p{
    color: beige;
    background-color: brown;
    color: blue;
} */

/* .class{
    color: blue;
    background-color: antiquewhite;
}
#id{
    color: aliceblue;
    background-color: blueviolet;
} */

/* p{
    color: blueviolet;
    background-color: aqua;
}


.parent{
    color: gold;
    background-color: black;
} */

h4,h5,p{
    color: bisque;
    background-color: lightcyan;
}